.remember-me{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 70%;
    font-family: font-alethia-pro;
}

.sign__up__form {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
  }

  @media (max-width: 850px) {
    .sign__up__form {
        max-width: 80%;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: opacity 0.02s 0.4s;
      }
  }