
.dropdown__menu {
    position: absolute;
    display:inline-block;
    top: 4rem;
    right: 3.5rem;
    width: 250px;
    padding: 15px;
    border-radius: 2px;
    background-color: black;
}



.dropdown__list {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding: 10px 0;
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}




.button-31 {
  background-color: #fff;
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Spectral SC"; 
   font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-bottom: 10px ;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
.user__info {
    width: 100%;
}

.circular__image {
 width: 30%;
 float: left;
 display: inline-block;
}
.circular__image img {
border-radius: 50%;
width: 50px;
height: 50px;
float: left;
}
.user__name{ 
width: 70%;
float: right;
justify-content: center;

}

.user__name p {
    font-family: "Spectral SC";
    margin: 0;
    margin-top: 10%;
    float: left;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1466px) {
    .dropdown__menu {
        top:3.5rem;
        right: 3.5rem;
    }
    

  }

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 550px) {
    .dropdown__menu {
        top: 3rem;
        right: 3.5rem;
    }
    

  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
    .dropdown__menu {
        top: 3rem;
        right: 3.5rem;
    }
    

  }

