.top_rated_page {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top__container {
    background-color: white;
    position: relative;
    margin: 7%;
}



.left__side {
    width: 50%;
    height: 100% !important;
    float: left;
}

.right__side {
    width: 50%;
    float: right;
    height: 100%;

}


img {
    max-width: 100%;
    object-fit: cover;
}

.right__side__content {
height: 70%;
width: 100%;
text-align: left;
padding: 3%;
padding-top: 20%;
}

.right__side__content h4 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2vw !important;
    font-weight: 200 !important;
}

.right__side__content h2 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2.5vw !important;
    font-weight: 700 !important;
}

.right__side__content p {
    font-family: font-alethia-pro;
    font-size: 1.5vw !important;

}

.right__side__content strong {
    font-family: font-alethia-pro;
    font-size: 1.5vw !important;

}
.more__details__button {
height: 30%;
width: 100%;
padding-left: 70%;
padding-top: 20%;
}


a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: font-alethia-pro;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000;
    background-color: #dcdcdc;
}

@media all and (max-width:30em) {
    a.button1 {
        margin: 0.4em auto;
    }
}



@media only screen and (max-width: 800px) {
    .right__side__content {
        padding-top: 10%;
        text-align: center;
    }

    .left__side {
        width: 100%;
        height: 50% !important;
    }

    .right__side {
        width: 100%;
        height: 50%;
    }

    .right__side__content h4 {
        font-family: 'Lexend Mega', sans-serif;
        font-size: 3vw !important;
        font-weight: 200 !important;
    }

    .right__side__content h2 {
        font-family: 'Lexend Mega', sans-serif;
        font-size: 4vw !important;
        font-weight: 700 !important;
    }

    .right__side__content p {
        font-family: font-alethia-pro;
        font-size: 2vw !important;

    }

    .right__side__content strong {
        font-family: font-alethia-pro;
        font-size: 2.5vw !important;

    }

    .more__details__button {
        height: 30%;
        width: 100%;
        padding-left: 0%;
        padding-top: 0%;
    }
}

@media only screen and (max-width: 1300px) {
    .right__side__content {
        padding-top: 10%;
        text-align: center;
    }
    .more__details__button {
        height: 30%;
        width: 100%;
        padding-left: 0%;
        padding-top: 10%;
    }
}

@media only screen and (max-width:912px) {
    .right__side__content {
        padding-top: 10%;
        text-align: center;
    }
    .more__details__button {
        height: 30%;
        width: 100%;
        padding-left: 0%;
        padding-top: 5%;
    }
}