.homepage {
  background-image: url("../../../../public/nicolas-peyrol-l2VmsBG8nPE-unsplash.png");
  background-size: cover;
  background-position: top;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

}

.borders {
  border-left:solid blanchedalmond 3px;
    border-right:solid blanchedalmond 3px;
    border-bottom:solid blanchedalmond 3px;
}

.header__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 100%;
    height: 100vh;
    position: relative;
    background-color: transparent;
}

.title__cover {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2vw;
    font-weight: 800;
    font-family: 'Lexend Mega', sans-serif;
    color: #000;
}


.search {
  width: 55%;
  height: 10%;
  border-radius: 2em;
  overflow: hidden;
  font-size: 15px;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__filter,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

.search__filter {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

.scroll__down {
  text-align: center;
  position: absolute;
  margin-top: 90vh;
}

.scroll__down p {
  color: #fff;
  font-family: font-alethia-pro;
}

@media only screen and (max-width: 600px) {
  .search {
    font-size: 10px;
  }

  .search__filter {
    font-size: 1.5rem;
    right: 0.5em;
  }
}

@media only screen and (max-width: 800px) {
  .search {
    font-size: 15px;
  }

  .search__filter {
    right: 0.5em;
    font-size: 1.5rem;
  }
}