@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


/*The whole login page*/
.loginPage{
  background-color: black;
  height: 100vh;
  
}

/*The separation under the header*/

.separation {
  border: 2px solid #FCD2B4;
}


/* Style the header with a black background and some padding */
.header-login {
  overflow: hidden;
  background-color: black;
}


.companyLogo {
  float: left;
  top: 0;
  left: 19px;
  width: 100px;
  height: 60px;
  object-fit: cover;
}

*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 1200px;
    height: 600px;
    border-radius: 3px;
    background: #fff;
    box-shadow: #ececec;
    position: relative;
    box-shadow: 3px 1px 5px -1px rgb(204, 203, 203);
    
}
.side-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1px;
    box-shadow: 10px 0 4px 0px #00000030;
    
}
.side-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px 0px 0px 3px
    
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    color: #fff;
    font-size: 18px;
}
i{
    font-weight: 400;
    font-size: 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inputs-box{
    width: 400px;
}

.inputs-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    margin-top: 10px ;
    
}
.input{
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.inputs-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 10px;
    color: #84461A;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 2px solid #84461A;
}
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #84461A;
    margin-top: 30px ;
    border-radius: 5px;
    transition: .4s;
    color: white;
    width: 150px;
    font-family: 'Titillium Web', sans-serif;
}

.login-button
{
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
  margin-top: 10px ;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit:hover{
    background: #b8703d;
    color: #fff;
}
.signup{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #000;
}

/*Separators under the login button*/
.seperator {
  width: 40%;
  display: inline-block;
}

.left {
  float: left;
}
.right {
float: right;
}

.or {
  position:fixed;
  font-size: 12px;
  color:brown;
}

.separators {
  margin-top: 30px;
}


/*Social media buttons*/
.social-container {
  margin-top: 30px;
  padding: 15px 10px;
  justify-content: center;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}


/*Titlte*/
.welcome {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
  font-family: "Spectral SC";
  color: #84461a;
}

.login-text {
  font-family:'Titillium Web', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px 
}

.shadow {
  box-shadow: 12px 12px 2px 1px rgba(40, 40, 204, 0.586);
}


.remember-me {
  float: left;
  font-size: 12px;
  font-family:'Titillium Web', sans-serif;
  margin-left: 30px;
}


.forgot-password {
  float: right;
  font-size: 12px;
  font-family:'Titillium Web', sans-serif;
}
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
        display: none;
    }

    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}

